img {
  width: 100%;
}

.image-container {
  margin: 2em 0 2em 0;
}

.item-img {
  height: 350px;
  width: 340px;
  border-radius: 15px;
}

.item-display {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "picture info"
    "picture info";
  grid-template-columns: repeat(2, 1fr);
  margin: 2em 0 2em 0;
  border-radius: 15px;
  padding: 1em;
}

.main-item-display {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "picture info"
    "picture info";
  grid-template-columns: repeat(2, 1fr);

  border-radius: 15px;
  padding: 1em;
}

.item-display-image {
  grid-area: picture;
  margin: 2em 0 2em 0;
  border: 1px solid #ddd;
}

.item-display-info {
  padding: 1em;
  border-radius: 15px;
  grid-area: info;
  margin-top: 2em;
}

.item-display-image img {
  border-radius: 15px;
}

.basket-image {
  max-height: 240px;
  max-width: 230px;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* margin-top: -24px; */
  /* margin-bottom: -50px; */
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.main-image-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

.basket-total {
  border-radius: 15px;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.heading {
  text-align: center;
  padding: 1em;
  border-radius: 15px;
}

@media (max-width: 500px) {
  .image-container {
    display: block;
  }

  .item-display {
    display: block;
  }

  .basket-total {
    display: block;
  }

  .item-img {
    height: 240px;
    width: 230px;
  }
}
